In [7]:

from googleplaces import GooglePlaces, types, lang
import pandas as pd
import numpy as np

In [2]:
mypath = '/Users/chengchen/Desktop/Insight/project/'
API_KEY = 'my_API_key'

In [3]:
google_places = GooglePlaces(API_KEY)
def googleplaces_query_to_dataframe (lng, lat, keyword, radius):
    """Transform query results from Google API to pandas dataframe"""
    places_data_list = []
    query_result = google_places.nearby_search(
    lat_lng={'lat': lat, 'lng': lng}, keyword=keyword,
    radius=radius)    
#    query_result = google_places.nearby_search(
#    lat_lng={'lat': lat, 'lng': lng}, keyword=keyword,
#    radius=radius, rankby = 'distance')
    for place in query_result.places: 
        place.get_details()
        places_data_list.append([place.place_id, place.name, float(place.geo_location['lat']),float(place.geo_location['lng']), place.rating, place.url])
    #default query only returns the first 20
    while query_result.has_next_page_token :
        query_result= google_places.nearby_search(pagetoken=query_result.next_page_token)
        for place in query_result.places:
            place.get_details()
            places_data_list.append([place.place_id, place.name, float(place.geo_location['lat']),float(place.geo_location['lng']), place.rating, place.url])
    df = pd.DataFrame(places_data_list, columns = ['ID','Name', 'latitude', 'longitude', 'Rating', 'Url'])
    return df
# Google place ranks by prominanse and shows up to 60 results
# If only search nearby one coordinate, can not get all data
# therefore will search over a grid of coordinates with reasonable distance away from each other and then delete the repeated ones

try with one scraping query

In [4]:
location = 'Toronto'
lat, lng = 43.653908, -79.384293  # Toronto City Hall
radius = 20000
keyword = 'charging station'
df = googleplaces_query_to_dataframe (lng, lat, keyword, radius)
df.shape

(60, 6)

In [5]:
df.head()

,ID,Name,latitude,longitude,Rating,Url
0,ChIJCfHPpaw0K4gRU_sQgt0EeZ8,ChargePoint Charging Station,43.672454,-79.381182,0,https://maps.google.com/?cid=11491221273628965715
1,ChIJR09tGaU0K4gRbTJRrv7-rTk,Tesla Destination Charger,43.670697,-79.393893,0,https://maps.google.com/?cid=4156258400932541037
2,ChIJFefj2tM0K4gRytF7vuszqQY,ChargePoint Charging Station,43.646353,-79.385380,1,https://maps.google.com/?cid=479971922897785290
3,ChIJ25ELEK80K4gRC0zQrf_ld8g,Tesla Destination Charger,43.671853,-79.389513,0,https://maps.google.com/?cid=14445267216109685771
4,ChIJ6Vnzm9A0K4gRFLBDhoVzE_A,ChargePoint Charging Station,43.646656,-79.390881,0,https://maps.google.com/?cid=17299297610980634644

next step: grid search over city of Toronto

In [12]:
# boundry coordinates of city of Toronto
upperleft = [43.750848, -79.639066]
upperright = [43.855668, -79.170400]
lowerleft = [43.582157, -79.544866]
lowerright = [43.792441, -79.118471]
lat_list = np.arange(43.582157, 43.792441, 0.025)
lng_list = np.arange(-79.639066, -79.118471,0.05)
xx,yy = np.meshgrid(lat_list,lng_list)

In [13]:
xx.shape

(11, 9)

In [14]:
yy.shape

(11, 9)

In [28]:
coords = np.array([xx, yy]).reshape(2,-1).T
coords

array([[ 43.582157, -79.639066],
       [ 43.607157, -79.639066],
       [ 43.632157, -79.639066],
       [ 43.657157, -79.639066],
       [ 43.682157, -79.639066],
       [ 43.707157, -79.639066],
       [ 43.732157, -79.639066],
       [ 43.757157, -79.639066],
       [ 43.782157, -79.639066],
       [ 43.582157, -79.589066],
       [ 43.607157, -79.589066],
       [ 43.632157, -79.589066],
       [ 43.657157, -79.589066],
       [ 43.682157, -79.589066],
       [ 43.707157, -79.589066],
       [ 43.732157, -79.589066],
       [ 43.757157, -79.589066],
       [ 43.782157, -79.589066],
       [ 43.582157, -79.539066],
       [ 43.607157, -79.539066],
       [ 43.632157, -79.539066],
       [ 43.657157, -79.539066],
       [ 43.682157, -79.539066],
       [ 43.707157, -79.539066],
       [ 43.732157, -79.539066],
       [ 43.757157, -79.539066],
       [ 43.782157, -79.539066],
       [ 43.582157, -79.489066],
       [ 43.607157, -79.489066],
       [ 43.632157, -79.489066],
       [ 43.657157, -79.489066],
       [ 43.682157, -79.489066],
       [ 43.707157, -79.489066],
       [ 43.732157, -79.489066],
       [ 43.757157, -79.489066],
       [ 43.782157, -79.489066],
       [ 43.582157, -79.439066],
       [ 43.607157, -79.439066],
       [ 43.632157, -79.439066],
       [ 43.657157, -79.439066],
       [ 43.682157, -79.439066],
       [ 43.707157, -79.439066],
       [ 43.732157, -79.439066],
       [ 43.757157, -79.439066],
       [ 43.782157, -79.439066],
       [ 43.582157, -79.389066],
       [ 43.607157, -79.389066],
       [ 43.632157, -79.389066],
       [ 43.657157, -79.389066],
       [ 43.682157, -79.389066],
       [ 43.707157, -79.389066],
       [ 43.732157, -79.389066],
       [ 43.757157, -79.389066],
       [ 43.782157, -79.389066],
       [ 43.582157, -79.339066],
       [ 43.607157, -79.339066],
       [ 43.632157, -79.339066],
       [ 43.657157, -79.339066],
       [ 43.682157, -79.339066],
       [ 43.707157, -79.339066],
       [ 43.732157, -79.339066],
       [ 43.757157, -79.339066],
       [ 43.782157, -79.339066],
       [ 43.582157, -79.289066],
       [ 43.607157, -79.289066],
       [ 43.632157, -79.289066],
       [ 43.657157, -79.289066],
       [ 43.682157, -79.289066],
       [ 43.707157, -79.289066],
       [ 43.732157, -79.289066],
       [ 43.757157, -79.289066],
       [ 43.782157, -79.289066],
       [ 43.582157, -79.239066],
       [ 43.607157, -79.239066],
       [ 43.632157, -79.239066],
       [ 43.657157, -79.239066],
       [ 43.682157, -79.239066],
       [ 43.707157, -79.239066],
       [ 43.732157, -79.239066],
       [ 43.757157, -79.239066],
       [ 43.782157, -79.239066],
       [ 43.582157, -79.189066],
       [ 43.607157, -79.189066],
       [ 43.632157, -79.189066],
       [ 43.657157, -79.189066],
       [ 43.682157, -79.189066],
       [ 43.707157, -79.189066],
       [ 43.732157, -79.189066],
       [ 43.757157, -79.189066],
       [ 43.782157, -79.189066],
       [ 43.582157, -79.139066],
       [ 43.607157, -79.139066],
       [ 43.632157, -79.139066],
       [ 43.657157, -79.139066],
       [ 43.682157, -79.139066],
       [ 43.707157, -79.139066],
       [ 43.732157, -79.139066],
       [ 43.757157, -79.139066],
       [ 43.782157, -79.139066]])

In [29]:
coords = pd.DataFrame(coords, columns = ['Lat', 'Lon'])
coords.head()

         Lat        Lon
0  43.582157 -79.639066
1  43.607157 -79.639066
2  43.632157 -79.639066
3  43.657157 -79.639066
4  43.682157 -79.639066

In [46]:
def poi_scrape(centroids_df, keyword, output_file_name, radius = 3000):
    """ Scraping points of interests given a dataframe that contains geo-coordinates of centroids """
    df = pd.DataFrame()
    row_index = 0
    for index, row in centroids_df.iterrows():
        lat, lng= row['Lat'], row['Lon']   
        current_length = len(df)
        df = df.append(googleplaces_query_to_dataframe (lng, lat, keyword, radius))
        print('scraped row ', row_index, ' and found', len(df)-current_length, 'results')
        row_index += 1
    print('# results before dup drop', len(df))
    df_drop_dup = df.drop_duplicates('ID')
    print('# results after dup drop', len(df_drop_dup))
    df_drop_dup.to_excel(mypath+'data/raw/'+output_file_name)
    return df_drop_dup

In [43]:
df_charging = poi_scrape(coords, 'charging station','TRT_charging.xlsx')

scraped row  0  and found 21 results
scraped row  1  and found 30 results
scraped row  2  and found 31 results
scraped row  3  and found 32 results
scraped row  4  and found 24 results
scraped row  5  and found 19 results
scraped row  6  and found 17 results
scraped row  7  and found 8 results
scraped row  8  and found 3 results
scraped row  9  and found 14 results
scraped row  10  and found 22 results
scraped row  11  and found 27 results
scraped row  12  and found 29 results
scraped row  13  and found 23 results
scraped row  14  and found 20 results
scraped row  15  and found 13 results
scraped row  16  and found 9 results
scraped row  17  and found 9 results
scraped row  18  and found 7 results
scraped row  19  and found 10 results
scraped row  20  and found 13 results
scraped row  21  and found 13 results
scraped row  22  and found 10 results
scraped row  23  and found 8 results
scraped row  24  and found 8 results
scraped row  25  and found 9 results
scraped row  26  and found 8 results
scraped row  27  and found 5 results
scraped row  28  and found 9 results
scraped row  29  and found 9 results
scraped row  30  and found 10 results
scraped row  31  and found 7 results
scraped row  32  and found 7 results
scraped row  33  and found 11 results
scraped row  34  and found 15 results
scraped row  35  and found 14 results
scraped row  36  and found 0 results
scraped row  37  and found 22 results
scraped row  38  and found 34 results
scraped row  39  and found 37 results
scraped row  40  and found 43 results
scraped row  41  and found 17 results
scraped row  42  and found 18 results
scraped row  43  and found 16 results
scraped row  44  and found 11 results
scraped row  45  and found 0 results
scraped row  46  and found 29 results
scraped row  47  and found 45 results
scraped row  48  and found 48 results
scraped row  49  and found 53 results
scraped row  50  and found 16 results
scraped row  51  and found 14 results
scraped row  52  and found 12 results
scraped row  53  and found 12 results
scraped row  54  and found 0 results
scraped row  55  and found 29 results
scraped row  56  and found 43 results
scraped row  57  and found 47 results
scraped row  58  and found 52 results
scraped row  59  and found 18 results
scraped row  60  and found 19 results
scraped row  61  and found 15 results
scraped row  62  and found 11 results
scraped row  63  and found 0 results
scraped row  64  and found 0 results
scraped row  65  and found 1 results
scraped row  66  and found 1 results
scraped row  67  and found 8 results
scraped row  68  and found 9 results
scraped row  69  and found 13 results
scraped row  70  and found 16 results
scraped row  71  and found 13 results
scraped row  72  and found 0 results
scraped row  73  and found 0 results
scraped row  74  and found 0 results
scraped row  75  and found 0 results
scraped row  76  and found 3 results
scraped row  77  and found 3 results
scraped row  78  and found 6 results
scraped row  79  and found 10 results
scraped row  80  and found 7 results
scraped row  81  and found 0 results
scraped row  82  and found 0 results
scraped row  83  and found 0 results
scraped row  84  and found 0 results
scraped row  85  and found 1 results
scraped row  86  and found 1 results
scraped row  87  and found 2 results
scraped row  88  and found 5 results
scraped row  89  and found 4 results
scraped row  90  and found 0 results
scraped row  91  and found 0 results
scraped row  92  and found 0 results
scraped row  93  and found 0 results
scraped row  94  and found 0 results
scraped row  95  and found 0 results
scraped row  96  and found 1 results
scraped row  97  and found 3 results
scraped row  98  and found 3 results
# results before dup drop 1295
# results after dup drop 168

In [47]:
df_foodcourt = poi_scrape(coords, 'food court', 'TRT_foodcourt.xlsx')

scraped row  0  and found 20 results
scraped row  1  and found 19 results
scraped row  2  and found 12 results
scraped row  3  and found 15 results
scraped row  4  and found 7 results
scraped row  5  and found 14 results
scraped row  6  and found 15 results
scraped row  7  and found 8 results
scraped row  8  and found 6 results
scraped row  9  and found 12 results
scraped row  10  and found 19 results
scraped row  11  and found 19 results
scraped row  12  and found 11 results
scraped row  13  and found 9 results
scraped row  14  and found 15 results
scraped row  15  and found 14 results
scraped row  16  and found 8 results
scraped row  17  and found 7 results
scraped row  18  and found 10 results
scraped row  19  and found 15 results
scraped row  20  and found 16 results
scraped row  21  and found 9 results
scraped row  22  and found 0 results
scraped row  23  and found 9 results
scraped row  24  and found 10 results
scraped row  25  and found 10 results
scraped row  26  and found 15 results
scraped row  27  and found 3 results
scraped row  28  and found 4 results
scraped row  29  and found 6 results
scraped row  30  and found 8 results
scraped row  31  and found 2 results
scraped row  32  and found 12 results
scraped row  33  and found 16 results
scraped row  34  and found 10 results
scraped row  35  and found 9 results
scraped row  36  and found 0 results
scraped row  37  and found 1 results
scraped row  38  and found 9 results
scraped row  39  and found 10 results
scraped row  40  and found 9 results
scraped row  41  and found 8 results
scraped row  42  and found 12 results
scraped row  43  and found 14 results
scraped row  44  and found 9 results
scraped row  45  and found 0 results
scraped row  46  and found 2 results
scraped row  47  and found 60 results
scraped row  48  and found 60 results
scraped row  49  and found 19 results
scraped row  50  and found 6 results
scraped row  51  and found 7 results
scraped row  52  and found 8 results
scraped row  53  and found 17 results
scraped row  54  and found 0 results
scraped row  55  and found 0 results
scraped row  56  and found 7 results
scraped row  57  and found 10 results
scraped row  58  and found 2 results
scraped row  59  and found 6 results
scraped row  60  and found 8 results
scraped row  61  and found 9 results
scraped row  62  and found 11 results
scraped row  63  and found 0 results
scraped row  64  and found 0 results
scraped row  65  and found 0 results
scraped row  66  and found 4 results
scraped row  67  and found 5 results
scraped row  68  and found 9 results
scraped row  69  and found 8 results
scraped row  70  and found 7 results
scraped row  71  and found 11 results
scraped row  72  and found 0 results
scraped row  73  and found 0 results
scraped row  74  and found 0 results
scraped row  75  and found 0 results
scraped row  76  and found 2 results
scraped row  77  and found 3 results
scraped row  78  and found 5 results
scraped row  79  and found 9 results
scraped row  80  and found 14 results
scraped row  81  and found 0 results
scraped row  82  and found 0 results
scraped row  83  and found 0 results
scraped row  84  and found 0 results
scraped row  85  and found 0 results
scraped row  86  and found 0 results
scraped row  87  and found 4 results
scraped row  88  and found 7 results
scraped row  89  and found 5 results
scraped row  90  and found 0 results
scraped row  91  and found 0 results
scraped row  92  and found 0 results
scraped row  93  and found 0 results
scraped row  94  and found 0 results
scraped row  95  and found 0 results
scraped row  96  and found 0 results
scraped row  97  and found 1 results
scraped row  98  and found 5 results
# results before dup drop 797
# results after dup drop 344

In [48]:
df_parking = poi_scrape(coords, 'parking', 'TRT_parking.xlsx')

scraped row  0  and found 60 results
scraped row  1  and found 52 results
scraped row  2  and found 17 results
scraped row  3  and found 15 results
scraped row  4  and found 56 results
scraped row  5  and found 57 results
scraped row  6  and found 15 results
scraped row  7  and found 19 results
scraped row  8  and found 11 results
scraped row  9  and found 20 results
scraped row  10  and found 20 results
scraped row  11  and found 33 results
scraped row  12  and found 26 results
scraped row  13  and found 60 results
scraped row  14  and found 60 results
scraped row  15  and found 18 results
scraped row  16  and found 19 results
scraped row  17  and found 19 results
scraped row  18  and found 34 results
scraped row  19  and found 35 results
scraped row  20  and found 40 results
scraped row  21  and found 33 results
scraped row  22  and found 14 results
scraped row  23  and found 17 results
scraped row  24  and found 13 results
scraped row  25  and found 36 results
scraped row  26  and found 38 results
scraped row  27  and found 17 results
scraped row  28  and found 48 results
scraped row  29  and found 59 results
scraped row  30  and found 58 results
scraped row  31  and found 29 results
scraped row  32  and found 25 results
scraped row  33  and found 30 results
scraped row  34  and found 37 results
scraped row  35  and found 20 results
scraped row  36  and found 0 results
scraped row  37  and found 16 results
scraped row  38  and found 60 results
scraped row  39  and found 60 results
scraped row  40  and found 60 results
scraped row  41  and found 45 results
scraped row  42  and found 54 results
scraped row  43  and found 60 results
scraped row  44  and found 60 results
scraped row  45  and found 0 results
scraped row  46  and found 15 results
scraped row  47  and found 60 results
scraped row  48  and found 60 results
scraped row  49  and found 60 results
scraped row  50  and found 59 results
scraped row  51  and found 59 results
scraped row  52  and found 60 results
scraped row  53  and found 60 results
scraped row  54  and found 0 results
scraped row  55  and found 0 results
scraped row  56  and found 60 results
scraped row  57  and found 60 results
scraped row  58  and found 60 results
scraped row  59  and found 57 results
scraped row  60  and found 60 results
scraped row  61  and found 60 results
scraped row  62  and found 60 results
scraped row  63  and found 0 results
scraped row  64  and found 0 results
scraped row  65  and found 2 results
scraped row  66  and found 35 results
scraped row  67  and found 60 results
scraped row  68  and found 60 results
scraped row  69  and found 60 results
scraped row  70  and found 60 results
scraped row  71  and found 59 results
scraped row  72  and found 0 results
scraped row  73  and found 0 results
scraped row  74  and found 0 results
scraped row  75  and found 0 results
scraped row  76  and found 12 results
scraped row  77  and found 36 results
scraped row  78  and found 38 results
scraped row  79  and found 59 results
scraped row  80  and found 60 results
scraped row  81  and found 0 results
scraped row  82  and found 0 results
scraped row  83  and found 0 results
scraped row  84  and found 0 results
scraped row  85  and found 0 results
scraped row  86  and found 6 results
scraped row  87  and found 32 results
scraped row  88  and found 20 results
scraped row  89  and found 60 results
scraped row  90  and found 0 results
scraped row  91  and found 0 results
scraped row  92  and found 0 results
scraped row  93  and found 0 results
scraped row  94  and found 0 results
scraped row  95  and found 0 results
scraped row  96  and found 2 results
scraped row  97  and found 20 results
scraped row  98  and found 47 results
# results before dup drop 3153
# results after dup drop 1417

In [49]:
df_shopping = poi_scrape(coords, 'shopping center', 'TRT_shopping.xlsx')

scraped row  0  and found 26 results
scraped row  1  and found 23 results
scraped row  2  and found 12 results
scraped row  3  and found 9 results
scraped row  4  and found 9 results
scraped row  5  and found 14 results
scraped row  6  and found 15 results
scraped row  7  and found 11 results
scraped row  8  and found 6 results
scraped row  9  and found 18 results
scraped row  10  and found 33 results
scraped row  11  and found 6 results
scraped row  12  and found 8 results
scraped row  13  and found 3 results
scraped row  14  and found 3 results
scraped row  15  and found 24 results
scraped row  16  and found 20 results
scraped row  17  and found 12 results
scraped row  18  and found 5 results
scraped row  19  and found 7 results
scraped row  20  and found 6 results
scraped row  21  and found 2 results
scraped row  22  and found 2 results
scraped row  23  and found 3 results
scraped row  24  and found 4 results
scraped row  25  and found 0 results
scraped row  26  and found 18 results
scraped row  27  and found 0 results
scraped row  28  and found 5 results
scraped row  29  and found 11 results
scraped row  30  and found 3 results
scraped row  31  and found 4 results
scraped row  32  and found 5 results
scraped row  33  and found 4 results
scraped row  34  and found 3 results
scraped row  35  and found 4 results
scraped row  36  and found 0 results
scraped row  37  and found 1 results
scraped row  38  and found 12 results
scraped row  39  and found 16 results
scraped row  40  and found 18 results
scraped row  41  and found 22 results
scraped row  42  and found 4 results
scraped row  43  and found 3 results
scraped row  44  and found 5 results
scraped row  45  and found 0 results
scraped row  46  and found 0 results
scraped row  47  and found 35 results
scraped row  48  and found 51 results
scraped row  49  and found 36 results
scraped row  50  and found 2 results
scraped row  51  and found 1 results
scraped row  52  and found 2 results
scraped row  53  and found 2 results
scraped row  54  and found 0 results
scraped row  55  and found 0 results
scraped row  56  and found 5 results
scraped row  57  and found 10 results
scraped row  58  and found 12 results
scraped row  59  and found 16 results
scraped row  60  and found 22 results
scraped row  61  and found 18 results
scraped row  62  and found 25 results
scraped row  63  and found 0 results
scraped row  64  and found 0 results
scraped row  65  and found 0 results
scraped row  66  and found 2 results
scraped row  67  and found 6 results
scraped row  68  and found 17 results
scraped row  69  and found 24 results
scraped row  70  and found 30 results
scraped row  71  and found 31 results
scraped row  72  and found 0 results
scraped row  73  and found 0 results
scraped row  74  and found 0 results
scraped row  75  and found 0 results
scraped row  76  and found 3 results
scraped row  77  and found 8 results
scraped row  78  and found 21 results
scraped row  79  and found 29 results
scraped row  80  and found 35 results
scraped row  81  and found 0 results
scraped row  82  and found 0 results
scraped row  83  and found 0 results
scraped row  84  and found 0 results
scraped row  85  and found 0 results
scraped row  86  and found 0 results
scraped row  87  and found 9 results
scraped row  88  and found 15 results
scraped row  89  and found 18 results
scraped row  90  and found 0 results
scraped row  91  and found 0 results
scraped row  92  and found 0 results
scraped row  93  and found 0 results
scraped row  94  and found 0 results
scraped row  95  and found 0 results
scraped row  96  and found 0 results
scraped row  97  and found 1 results
scraped row  98  and found 4 results
# results before dup drop 909
# results after dup drop 351

In [50]:
df_restaurant = poi_scrape(coords, 'restaurant', 'TRT_restaurant.xlsx')

scraped row  0  and found 60 results
scraped row  1  and found 60 results
scraped row  2  and found 60 results
scraped row  3  and found 60 results
scraped row  4  and found 60 results
scraped row  5  and found 60 results
scraped row  6  and found 60 results
scraped row  7  and found 60 results
scraped row  8  and found 60 results
scraped row  9  and found 60 results
scraped row  10  and found 60 results
scraped row  11  and found 60 results
scraped row  12  and found 60 results
scraped row  13  and found 60 results
scraped row  14  and found 60 results
scraped row  15  and found 60 results
scraped row  16  and found 60 results
scraped row  17  and found 60 results
scraped row  18  and found 60 results
scraped row  19  and found 60 results
scraped row  20  and found 60 results
scraped row  21  and found 60 results
scraped row  22  and found 60 results
scraped row  23  and found 60 results
scraped row  24  and found 60 results
scraped row  25  and found 60 results
scraped row  26  and found 60 results
scraped row  27  and found 43 results
scraped row  28  and found 60 results
scraped row  29  and found 60 results
scraped row  30  and found 60 results
scraped row  31  and found 60 results
scraped row  32  and found 60 results
scraped row  33  and found 60 results
scraped row  34  and found 60 results
scraped row  35  and found 60 results
scraped row  36  and found 0 results
scraped row  37  and found 11 results
scraped row  38  and found 60 results
scraped row  39  and found 60 results
scraped row  40  and found 60 results
scraped row  41  and found 60 results
scraped row  42  and found 60 results
scraped row  43  and found 60 results
scraped row  44  and found 60 results
scraped row  45  and found 0 results
scraped row  46  and found 13 results
scraped row  47  and found 60 results
scraped row  48  and found 60 results
scraped row  49  and found 60 results
scraped row  50  and found 60 results
scraped row  51  and found 60 results
scraped row  52  and found 60 results
scraped row  53  and found 60 results
scraped row  54  and found 0 results
scraped row  55  and found 7 results
scraped row  56  and found 60 results
scraped row  57  and found 60 results
scraped row  58  and found 60 results
scraped row  59  and found 60 results
scraped row  60  and found 60 results
scraped row  61  and found 60 results
scraped row  62  and found 60 results
scraped row  63  and found 0 results
scraped row  64  and found 0 results
scraped row  65  and found 2 results
scraped row  66  and found 60 results
scraped row  67  and found 60 results
scraped row  68  and found 60 results
scraped row  69  and found 60 results
scraped row  70  and found 60 results
scraped row  71  and found 60 results
scraped row  72  and found 0 results
scraped row  73  and found 0 results
scraped row  74  and found 0 results
scraped row  75  and found 0 results
scraped row  76  and found 46 results
scraped row  77  and found 60 results
scraped row  78  and found 60 results
scraped row  79  and found 60 results
scraped row  80  and found 60 results
scraped row  81  and found 0 results
scraped row  82  and found 0 results
scraped row  83  and found 0 results
scraped row  84  and found 0 results
scraped row  85  and found 0 results
scraped row  86  and found 0 results
scraped row  87  and found 44 results
scraped row  88  and found 60 results
scraped row  89  and found 60 results
scraped row  90  and found 0 results
scraped row  91  and found 0 results
scraped row  92  and found 0 results
scraped row  93  and found 0 results
scraped row  94  and found 0 results
scraped row  95  and found 0 results
scraped row  96  and found 0 results
scraped row  97  and found 13 results
scraped row  98  and found 36 results
# results before dup drop 4295
# results after dup drop 2178

In [51]:
df_grocery = poi_scrape(coords, 'grocery store', 'TRT_grocery.xlsx')

scraped row  0  and found 60 results
scraped row  1  and found 52 results
scraped row  2  and found 20 results
scraped row  3  and found 8 results
scraped row  4  and found 7 results
scraped row  5  and found 20 results
scraped row  6  and found 29 results
scraped row  7  and found 32 results
scraped row  8  and found 19 results
scraped row  9  and found 56 results
scraped row  10  and found 60 results
scraped row  11  and found 40 results
scraped row  12  and found 16 results
scraped row  13  and found 6 results
scraped row  14  and found 18 results
scraped row  15  and found 39 results
scraped row  16  and found 35 results
scraped row  17  and found 15 results
scraped row  18  and found 13 results
scraped row  19  and found 36 results
scraped row  20  and found 39 results
scraped row  21  and found 30 results
scraped row  22  and found 35 results
scraped row  23  and found 48 results
scraped row  24  and found 55 results
scraped row  25  and found 41 results
scraped row  26  and found 27 results
scraped row  27  and found 5 results
scraped row  28  and found 24 results
scraped row  29  and found 38 results
scraped row  30  and found 50 results
scraped row  31  and found 60 results
scraped row  32  and found 57 results
scraped row  33  and found 45 results
scraped row  34  and found 39 results
scraped row  35  and found 37 results
scraped row  36  and found 0 results
scraped row  37  and found 1 results
scraped row  38  and found 60 results
scraped row  39  and found 60 results
scraped row  40  and found 60 results
scraped row  41  and found 59 results
scraped row  42  and found 40 results
scraped row  43  and found 38 results
scraped row  44  and found 60 results
scraped row  45  and found 0 results
scraped row  46  and found 1 results
scraped row  47  and found 60 results
scraped row  48  and found 60 results
scraped row  49  and found 60 results
scraped row  50  and found 59 results
scraped row  51  and found 45 results
scraped row  52  and found 34 results
scraped row  53  and found 46 results
scraped row  54  and found 0 results
scraped row  55  and found 0 results
scraped row  56  and found 33 results
scraped row  57  and found 59 results
scraped row  58  and found 60 results
scraped row  59  and found 50 results
scraped row  60  and found 39 results
scraped row  61  and found 25 results
scraped row  62  and found 31 results
scraped row  63  and found 0 results
scraped row  64  and found 0 results
scraped row  65  and found 1 results
scraped row  66  and found 27 results
scraped row  67  and found 57 results
scraped row  68  and found 57 results
scraped row  69  and found 51 results
scraped row  70  and found 54 results
scraped row  71  and found 50 results
scraped row  72  and found 0 results
scraped row  73  and found 0 results
scraped row  74  and found 0 results
scraped row  75  and found 0 results
scraped row  76  and found 8 results
scraped row  77  and found 19 results
scraped row  78  and found 45 results
scraped row  79  and found 54 results
scraped row  80  and found 51 results
scraped row  81  and found 0 results
scraped row  82  and found 0 results
scraped row  83  and found 0 results
scraped row  84  and found 0 results
scraped row  85  and found 0 results
scraped row  86  and found 0 results
scraped row  87  and found 16 results
scraped row  88  and found 28 results
scraped row  89  and found 27 results
scraped row  90  and found 0 results
scraped row  91  and found 0 results
scraped row  92  and found 0 results
scraped row  93  and found 0 results
scraped row  94  and found 0 results
scraped row  95  and found 0 results
scraped row  96  and found 0 results
scraped row  97  and found 2 results
scraped row  98  and found 5 results
# results before dup drop 2803
# results after dup drop 997

In [52]:
df_gas = poi_scrape(coords, 'gas station', 'TRT_gas.xlsx')

scraped row  0  and found 18 results
scraped row  1  and found 23 results
scraped row  2  and found 27 results
scraped row  3  and found 22 results
scraped row  4  and found 17 results
scraped row  5  and found 17 results
scraped row  6  and found 16 results
scraped row  7  and found 14 results
scraped row  8  and found 12 results
scraped row  9  and found 16 results
scraped row  10  and found 20 results
scraped row  11  and found 20 results
scraped row  12  and found 11 results
scraped row  13  and found 11 results
scraped row  14  and found 24 results
scraped row  15  and found 25 results
scraped row  16  and found 24 results
scraped row  17  and found 22 results
scraped row  18  and found 11 results
scraped row  19  and found 27 results
scraped row  20  and found 26 results
scraped row  21  and found 11 results
scraped row  22  and found 22 results
scraped row  23  and found 33 results
scraped row  24  and found 27 results
scraped row  25  and found 25 results
scraped row  26  and found 28 results
scraped row  27  and found 3 results
scraped row  28  and found 16 results
scraped row  29  and found 22 results
scraped row  30  and found 23 results
scraped row  31  and found 25 results
scraped row  32  and found 31 results
scraped row  33  and found 30 results
scraped row  34  and found 25 results
scraped row  35  and found 24 results
scraped row  36  and found 0 results
scraped row  37  and found 3 results
scraped row  38  and found 16 results
scraped row  39  and found 27 results
scraped row  40  and found 24 results
scraped row  41  and found 30 results
scraped row  42  and found 31 results
scraped row  43  and found 28 results
scraped row  44  and found 26 results
scraped row  45  and found 0 results
scraped row  46  and found 3 results
scraped row  47  and found 17 results
scraped row  48  and found 24 results
scraped row  49  and found 26 results
scraped row  50  and found 23 results
scraped row  51  and found 21 results
scraped row  52  and found 21 results
scraped row  53  and found 28 results
scraped row  54  and found 0 results
scraped row  55  and found 0 results
scraped row  56  and found 13 results
scraped row  57  and found 23 results
scraped row  58  and found 33 results
scraped row  59  and found 28 results
scraped row  60  and found 24 results
scraped row  61  and found 25 results
scraped row  62  and found 29 results
scraped row  63  and found 0 results
scraped row  64  and found 0 results
scraped row  65  and found 1 results
scraped row  66  and found 5 results
scraped row  67  and found 15 results
scraped row  68  and found 30 results
scraped row  69  and found 30 results
scraped row  70  and found 35 results
scraped row  71  and found 29 results
scraped row  72  and found 0 results
scraped row  73  and found 0 results
scraped row  74  and found 0 results
scraped row  75  and found 0 results
scraped row  76  and found 4 results
scraped row  77  and found 16 results
scraped row  78  and found 25 results
scraped row  79  and found 32 results
scraped row  80  and found 27 results
scraped row  81  and found 0 results
scraped row  82  and found 0 results
scraped row  83  and found 0 results
scraped row  84  and found 0 results
scraped row  85  and found 0 results
scraped row  86  and found 4 results
scraped row  87  and found 6 results
scraped row  88  and found 14 results
scraped row  89  and found 17 results
scraped row  90  and found 0 results
scraped row  91  and found 0 results
scraped row  92  and found 0 results
scraped row  93  and found 0 results
scraped row  94  and found 0 results
scraped row  95  and found 0 results
scraped row  96  and found 0 results
scraped row  97  and found 2 results
scraped row  98  and found 10 results
# results before dup drop 1573
# results after dup drop 505

In [53]:
df_university = poi_scrape(coords, 'university', 'TRT_university.xlsx')

scraped row  0  and found 8 results
scraped row  1  and found 9 results
scraped row  2  and found 6 results
scraped row  3  and found 3 results
scraped row  4  and found 1 results
scraped row  5  and found 3 results
scraped row  6  and found 4 results
scraped row  7  and found 6 results
scraped row  8  and found 2 results
scraped row  9  and found 2 results
scraped row  10  and found 0 results
scraped row  11  and found 2 results
scraped row  12  and found 3 results
scraped row  13  and found 2 results
scraped row  14  and found 4 results
scraped row  15  and found 5 results
scraped row  16  and found 7 results
scraped row  17  and found 1 results
scraped row  18  and found 2 results
scraped row  19  and found 2 results
scraped row  20  and found 1 results
scraped row  21  and found 1 results
scraped row  22  and found 1 results
scraped row  23  and found 0 results
scraped row  24  and found 2 results
scraped row  25  and found 14 results
scraped row  26  and found 15 results
scraped row  27  and found 1 results
scraped row  28  and found 2 results
scraped row  29  and found 3 results
scraped row  30  and found 3 results
scraped row  31  and found 3 results
scraped row  32  and found 0 results
scraped row  33  and found 4 results
scraped row  34  and found 35 results
scraped row  35  and found 32 results
scraped row  36  and found 0 results
scraped row  37  and found 0 results
scraped row  38  and found 4 results
scraped row  39  and found 19 results
scraped row  40  and found 20 results
scraped row  41  and found 3 results
scraped row  42  and found 4 results
scraped row  43  and found 11 results
scraped row  44  and found 11 results
scraped row  45  and found 0 results
scraped row  46  and found 0 results
scraped row  47  and found 58 results
scraped row  48  and found 60 results
scraped row  49  and found 60 results
scraped row  50  and found 5 results
scraped row  51  and found 4 results
scraped row  52  and found 6 results
scraped row  53  and found 11 results
scraped row  54  and found 0 results
scraped row  55  and found 0 results
scraped row  56  and found 5 results
scraped row  57  and found 8 results
scraped row  58  and found 4 results
scraped row  59  and found 2 results
scraped row  60  and found 2 results
scraped row  61  and found 2 results
scraped row  62  and found 11 results
scraped row  63  and found 0 results
scraped row  64  and found 0 results
scraped row  65  and found 0 results
scraped row  66  and found 1 results
scraped row  67  and found 2 results
scraped row  68  and found 1 results
scraped row  69  and found 1 results
scraped row  70  and found 6 results
scraped row  71  and found 4 results
scraped row  72  and found 0 results
scraped row  73  and found 0 results
scraped row  74  and found 0 results
scraped row  75  and found 0 results
scraped row  76  and found 0 results
scraped row  77  and found 1 results
scraped row  78  and found 1 results
scraped row  79  and found 6 results
scraped row  80  and found 8 results
scraped row  81  and found 0 results
scraped row  82  and found 0 results
scraped row  83  and found 0 results
scraped row  84  and found 0 results
scraped row  85  and found 0 results
scraped row  86  and found 0 results
scraped row  87  and found 0 results
scraped row  88  and found 6 results
scraped row  89  and found 6 results
scraped row  90  and found 0 results
scraped row  91  and found 0 results
scraped row  92  and found 0 results
scraped row  93  and found 0 results
scraped row  94  and found 0 results
scraped row  95  and found 0 results
scraped row  96  and found 0 results
scraped row  97  and found 0 results
scraped row  98  and found 0 results
# results before dup drop 542
# results after dup drop 218